

<mat-paginator *ngIf="!isLoading" [length]="products.length" [pageSize]="9">

</mat-paginator>


<mat-form-field class="container" *ngIf="!isLoading">
    <mat-label>trier par</mat-label>
    <mat-select [(value)]="selectedValue" (selectionChange)="selectOrder()">
        <mat-option value="price">Prix</mat-option>
        <mat-option value="name">Nom</mat-option>
    </mat-select>
</mat-form-field>



<div class="cards" *ngIf="!isLoading">

    <div class="products" *ngFor="let product of products">

        <div class="name">{{product.name}}</div>

        <div class="price">{{product.price}} FCFA</div>

        <mat-divider></mat-divider>

        <div class="same-row">



            <div class="seller">

                <div class="owner">VENDEUR</div>
                <div class="owner-name">{{product.productOwner.name}}</div>

            </div>

            <div class="description">
                <div class="owner">DESCRIPTION</div>
                <div class="owner-name">{{product.description}}</div>


            </div>
        </div>

        <div class="buttons">
            <button mat-button (click)="addProductWishlist(product)"> <i class="fas fa-heart"></i> FAVORIS</button>
            <button mat-button (click)="openBuyDialog(product)"> <i class="fas fa-shopping-cart"></i> ACHETER</button>
        </div>

    </div>


</div>
