<div mat-subheader>Achat</div>

<mat-form-field class="container">
    <mat-label>Trier par</mat-label>
    <mat-select [(value)]="selectedValue" (selectionChange)="selectOrder()">
        <mat-option value="price">Prix</mat-option>
        <mat-option value="name">Nom</mat-option>
        <mat-option value="date">Date</mat-option>
    </mat-select>
</mat-form-field>

<mat-list *ngIf="!isLoading">
    <mat-list-item *ngFor="let order of orders">
        <mat-divider></mat-divider>


        <i class="fas fa-shopping-cart"></i>
        <div mat-line> Nom: {{order.productOrder.name}}</div>
        <div mat-line> Date: {{order.instant}} </div>
        <div mat-line> Vendeur: {{order.productOrder.productOwner.name}} </div>
        <div mat-line> Prix: {{order.productOrder.price}} FCFA</div>
    </mat-list-item>

</mat-list>
