<div class="wrapper">
    <div class="sidebar">
        <h2>MBK-Shop</h2>
        <ul>
            <li><a routerLink="/client-page/home" routerLinkActive="active"><i class="fas fa-home" ></i> Accueil</a></li>
            <li><a routerLink="/client-page/profile"><i class="fas fa-user"></i> Profile</a></li>
            <li><a routerLink="/client-page/products" routerLinkActive="active"><i class="fas fa-dollar-sign"></i> Produits</a></li>
            <li><a routerLink="/client-page/wishlist" routerLinkActive="active"><i class="fas fa-heart"></i> Favoris</a></li>
            <li><a routerLink="/client-page/orders"><i class="fas fa-box"></i> Achat</a></li>
            <li><a routerLink="/sign-page" (click)="logout()"><i class="fas fa-power-off"></i> Deconnexion</a></li>

        </ul>


    </div>
    <div class="main_content">
        <router-outlet></router-outlet>
    </div>
</div>
